.project {
  border-radius: 1rem;
  height: 300px;
  width: 300px;
  position: relative;
  isolation: isolate;
}

.image {
  display: block;
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: inherit;
}

.project:hover .image {
  object-fit: contain;
}

.details {
  height: 100%;
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%, 0.8);
  transform: scale(0);
  transition: transform 500ms ease-out;
}

.project:hover .details {
  transform: scale(1);
}

.title {
  font-size: 1.2em;
  text-transform: uppercase;
  text-decoration: 0.12em solid underline #fca738;
  text-align: center;
  color: #105652;
}

.desc {
  text-align: justify;
  padding: 0 1rem;
  color: #105652;
}

.btnGroup {
  margin-top: 0.5rem;
}

.btnGroup a + a {
  margin-left: 1rem;
}
