.navbar {
  flex: 0 0 30%;
  padding: 1rem 0.5rem;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLink {
  text-decoration: none;
  outline: none;
  padding: 0.5rem;
  cursor: pointer;
  color: #424242;
  transition: color 300ms linear;
}

.navLink:hover {
  color: #fca738;
}

@media screen and (max-width: 670px) {
  .navbar {
    position: fixed;
    inset: 0;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 500ms linear;
  }

  .navbar.active {
    transform: translateX(0);
  }

  .navList {
    height: 100%;
    flex-flow: column nowrap;
    justify-content: space-evenly;
  }

  .navLink {
    padding: 1rem 5rem;
    outline: 0.2em solid currentColor;
  }
}
