.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fbf3e4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header h1 {
  margin: 1.2rem 0;
}

.logo {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  text-transform: capitalize;
  color: #105652;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 670px) {
  .header {
    justify-content: space-between;
    padding: 0 0.5rem;
  }

  .hamburger {
    cursor: pointer;
    display: inline;
    position: fixed;
    right: 1rem;
  }
}
