.sectionHeading {
  display: inline-block;
  font-weight: 700;
  font-size: 1.4em;
  position: relative;
  color: #105652;
  margin-bottom: 1rem;
}

.sectionHeading::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  height: 0.3em;
  width: 110%;
  background-color: #fca738;
}
